
body{

    font-family: "Open Sans", sans-serif;
}
.container{
 max-width: 1100px ;
 margin: 0 auto;
}
.a1{
  margin-top: 24px;
  display: flex;
  font-size: 14px;
  gap: 128.5px; 
 padding-left: 170px;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  

}


.a2{
  color: black;
}
.a3{
  color: red;
  font-size: 14px;
}
.a4{
  width: 189px;
  height: 47px;
  border-radius: 8px;
  border: 2px solid red;
  font-size: 15px;
  
 
 
  


}
.b1{
   width: 100%;
   height: 550px;
  background-image: url(./public/hero.png);
  display: flex;


}
.b2{
  display: flex;
  flex-direction: column;
  gap: 60px;

}


.b5{
margin-top: 70px;

}
.c1{
  font-size: 36px;
  margin: 0  auto;
  text-align: center;
  margin-top: 65px;
}
.d1{
  width: 864px;
  height: 200px;
  display: flex;
  gap: 64px;
  margin: 0 auto;
}
.d2{
  display: flex;
  flex-direction: column;


}
.e1{
  display: flex;
  flex-direction: column;
  gap: 40.78px;
}
.F1{
  background-color: rgba(14, 180, 193, 1);
  width: 100%;
  height: 669px;
  margin-top: 215px;
  padding: 64px 0px;

}
.r1{
  margin: 0 auto;
  text-align: center;
 font-size: 64px;

}
.y1{
  padding-left: 156px;
  padding-top: 111px;
  width: 513px;
  height: 331px; 
}

.j1{
  width: 460px;
  height: 39.11px;


}
.h1{
  width: 460px;
  height: 39.11px;
  background-color: green;
  border-radius: 5px;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.09) inset;


}
.o1{
  display: flex;
  flex-direction: column;
  width: 540px;
  height: 331px;
  background-color: white;
  margin-top: 111px;

  align-items: center;
  gap: 14px;

}
.i1{
  display: flex;
  gap: 68px;
}
.j2{
   width: 460px;
  height: 39.11px;
  margin-top: 28px;
}
.r5{
  width: 100%;
height: 97.93565368652344px;
background-color: rgba(34, 34, 34, 1);
display: flex;
gap: 639px;
align-items: center;


}
.e4{
  padding-left: 170px;
  width: 185px;
  height: 49.94px;
  
}
.r6{
  display: flex;
  gap: 32px;
}
.u8{
  color: rgba(222, 46, 84, 1);
  font-size: 14px ;
}
.u9{
  color: rgba(255, 255, 255, 1) ;
  font-size: 14px;
}

.box{
    
}